<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <%-blocks.header%>
      <%-partial('../partials/header')%>
    </header>
    <section>      
      <div class="user-part">
        <div class="user-part__title-block">
          <%-body -%>
        </div>
        <div class="try">
          <div class="user-part__side-bar">
            <ul class="side-bar__menu" type="none">
              <li class="menu__list-item">
                <a href="/" class="list-item__link">HomePage</a>
              </li>
              <li class="menu__list-item">
                <a href="/login/changeusername" class="list-item__link">Change username</a>
              </li>
              <li class="menu__list-item">
                <a href="/login/changepass" class="list-item__link">Change password</a>
              </li>
              <li class="menu__list-item">
                <a href="" class="list-item__link" id="userButton">User</a>
              </li>
            </ul>
          </div>
          <div class="user-part__message">       
            <div class="message__text-block">
              <h2 class="text-block__title hideElement" id="messageTitle">Your last message:</h2>
              <p class="text-block__text" id="messageText">
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-part">
      <%-partial('../partials/footer')%>
    </footer>
    <%-scripts%>
  </body>
</html>